/* # OFFICIAL GITHUB BRAND COLORS
-------------------------------------------------------------------- 
Official Github Brand Colors (August 20, 2015) from the
GitHub internal CSS framework (Primer) version 2.3.3
Source URI: 
- http://primercss.io/colors/		
- https://gist.github.com/christopheranderton/4c88326ab6a5604acc29		
*/

:root {
	--github-blue:#4078c0;
	--github-green:#6cc644;
	--github-red:#bd2c00;
	--github-orange:#c9510c;
	--github-purple:#6e5494;
	--github-gray-light:#999;
	--github-gray:#767676;
	--github-gray-dark:#333;
}

/* 1.a = Github Branding Color Swatches
-------------------------------------------------------------------- */
.swatch-github-blue {
	background-color: var(--github-blue);
}
.swatch-github-green {
	background-color: var(--github-green);
}
.swatch-github-red {
	background-color: var(--github-red);
}
.swatch-github-orange {
	background-color: var(--github-orange);
}
.swatch-github-purple {
	background-color: var(--github-purple);
}
/* 1.b = Github Branding Grayscale Swatches
-------------------------------------------------------------------- */
.swatch-github-gray-light {
	background-color: var(--github-gray-light);
}
.swatch-github-gray {
	background-color: var(--github-gray);
}
.swatch-github-gray-dark {
	background-color: var(--github-gray-dark);
}
